<h3> Self Assesment </h3>
<div class="SAtext">
    <p ng-repeat="question in questions |  filter: { category_id: categoryIDs.SA }"><span>{{question.text}}</span>
        <label ng-repeat="response in responses  | filter: { category_id: categoryIDs.SA }"
          ng-init="question.response_id = question.response_id ? question.response_id : (responses | filter: {category_id: categoryIDs.SA } | filter: {value: '0'})[0].id">
            <input type="radio" ng-model="question.response_id" ng-value="response.id">
            <span>{{response.response}}</span>
        </label>

    </p>
</div>

<h3>Quality Assesment</h3>
<div class="QAtext">

    <div ng-repeat="question in questions |  filter: { category_id: categoryIDs.QA }">
        <p>{{ question.text }}</p>
        <div class="QAcheckboxes">
            <div ng-repeat="response in responses | byCategory:categoryIDs.QA" class="QACheckboxGroup">
                <label>
                    <input type="radio" ng-model="question.response_id" ng-value="response.id"
                    ng-init="question.response_id = question.response_id ? question.response_id : 
                    (responses | filter: {category_id: categoryIDs.SA } | filter: {value: '0'})[0].id"> 
                    <span>{{response.response}}</span>
                </label>
            </div>

            <div class="QACheckboxGroup">
                <a ng-click="showText = !showText">Options</a>
            </div>

        </div>

        <div ng-init="showText = false" class="QAoptions" ng-show="showText">
            <p>Notes</p>
            <input type="text" name="" class="form-control" ng-model="question.note">
            <p>Weight</p>
            <select ng-model="question.weight" ng-name="page" ng-options="page for page in Range(0, 3)"></select>
        </div>
    </div>

</div>
