<div class="col-lg-12">
    <h1>Forms</h1>
    <div class="form-group headings">
        <div>
            <h3>Form Name</h3>
            <p> View Form Type:
            <select ng-model="category_id" ng-options="category.id as (category.name | uppercase) for category in categories"
                ng-init="category_id = (categories[0].id)"></select>
        </div>
        <div>
            <input type="button" ng-click="toggleAddFormVisibility()" value="{{!addForm && 'Add'||'Cancel'}}"></input>
        </div>
    </div>
    <div ng-show="addForm" class="form-group addQuestion">
        <form name="addingNewForm" ng-submit="saveForm(newForm)">
            <div>
                <input ng-change="someFunc" type="text" class="form-control" name="newFormName"
                ng-model="newForm.text" url="/checkUniqueFormName/" unique-value=""
                required></input>
                </td>
                <span class="hide-while-in-focus" ng-show="addingNewForm.newFormName.$error.unique && !addingNewForm.newFormName.$pristine">Form Name Taken. Update and Press tab</span>
            </div>
            <div>
                <select ng-model="newForm.category_id" ng-options="category.id as (category.name | uppercase) for category in categories"
                ng-init="newForm.category_id = (categories[0].id)"></select>

                <input type="submit" value="Add" ng-show="addingNewForm.newFormName.$valid && !addingNewForm.newFormName.$pristine"></input>
                <p ng-show="addingNewForm.newFormName.$invalid && !addingNewForm.newFormName.$pristine && !addingNewForm.newFormName.$error.unique "
                class="help-block">Form Name is required.</p>
            </div>
        </form>
    </div>
    <div ng-repeat="form in forms | filter: { category_id: category_id}  " class="form-group">
      <div><a href="/#/edit_questions/{{form.category_id}}/{{form.id}}"> {{form.name}} </a>
        </div>
        <div>
            <img src="images/delete.png" height="20" width="20" ng-click="deleteForm(form)"
            />
        </div>
    </div>
</div>

