@import "../../bower_components/sass-support-files/_mixins";
@import "../../bower_components/sass-support-files/_fonts";

$color-main: #575757; //main Dark text
$color-light: #fff; //Light text on dark background

body,
html {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    margin: 0 auto;
    color: $color-main;
    //sets value for rem unit
    font-size: 10px;
}
body {
    @include helvetN-Light(1.5rem);
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
a {
    text-decoration: none;
    color: #00aed1;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
h1 {
    // color: #FFF;
    @include helvetN-Thin(3rem,0.4rem);
    // margin: 0 0 3rem;
}
h2 {
    @include helvetN-Thin(2.4rem,0.4rem);
    margin-top: 0;
}
h3 {
    @include helvetN-Thin(2rem);
    margin-bottom: 2rem;
}
label {
    margin: 0;
    font-weight: 300;
}
/*layout*/
.headerHeight {
    width: 100%;
    height: 7.5rem;
}
#sidebar-wrapper {
    background-color: #3b4b54;
    color: $color-light;
    padding-top: 2rem;
    @include prefix((box-shadow: 4px 0 10px rgba(79, 89, 92, 0.38)));
    div {
        text-align: right;
        font-size: 2.2rem;
    }
    > div {
        padding-right: 1.5rem;
    }
    div.headerHeight a {
        color: $color-light;
    }
    h2 {
        margin-bottom: 1rem;
    }
    ul {
        position: inherit;
        width: inherit;
    }
    li {
        @include helvetN-Thin(inherit,0.4rem);
        cursor: pointer;
        line-height: normal;
        a {
            padding: 0.2rem 0;
        }
        ul.nav {
            margin-top: 1rem;
            margin-bottom: 2rem;
            a {
                font-size: 1.7rem;
                line-height: 2rem;
            }
        }
    }
}
//#sideLeft
#page-content-wrapper {
    div.headerHeight {
        h2 {
            display: inline-block;
            float: left;
            margin: 0.8rem 1rem 0 0;
        }
        img {
            display: inline-block;
        }
        div {
            float: right;
        }
    }

    h1 {
        margin-bottom: 1rem;
    }
    h2 {
        margin-bottom: 3rem;
    }
}
div.formsNav {
    font-size: 1.2rem;
    > * { //all direct childrin
        display: inline-block;
    }
    button {
        background-color: transparent;
        border: 0;
        svg {
            height: 18px;
            #arrow-left,
            #arrow-right {
                fill: #065f98;
            }
        }
    }
    button:hover svg #arrow-left,
    button:hover svg #arrow-right {
        fill: #1f9af2;
    }
    div {
        margin: 0 0.3rem;
        display: inline-block;
    }

    select {
        @include prefix((appearance: none));
        @include helvetN-Thin(2.4rem,0.4rem);
        border: 0;

        &:hover {
            text-decoration: underline;
            color: #3e5175;
        }
    }
}
//#page-content-wrapper
table.clientStyle {
    font-size: 1.5rem;
    width: inherit;
    border: 0;
    tbody > tr > td,
    thead > tr > td {
        padding: 1rem;
        min-width: 4rem;
        border: 0;
    }
    tr > td:first-child {
        border-right: 2px solid #67476b;
        text-align: right;
    }
    thead {
        font-size: 2.8rem;
        color: rgb(58, 105, 126);
        cursor: pointer;
        th {
            //currently (16.01.14) used in results page only
            font-size: 1.8rem;
            cursor: default;
            font-weight: 400;
        }
    }
    .number {
        text-align: right;
    }
}
uib-accordion.clients {
    h4 {
        @include helvetN-Light(2.8rem);
        color: #3a697e;
        cursor: pointer;
    }
    font-size: 1.5rem;
    div.formTable {
        float: left;
        div > span {
            display: inline-block;
            padding: 1rem;
        }
        div:last-child,
        div:last-child span {
            height: 8rem;
            margin: 0;
            padding: 0;
        }
    }
    div.formTable div > span:first-child,
    div.panel-heading {
        width: 22rem;
        border-right: 2px solid #67476b;
        text-align: right;
    }
}
#clientLinks thead,
#clientLinks tbody {
    display: block;
}
#clientLinks tr > td:first-child {
    width: 250px;
}
div.clientInfoColumn{
    margin: 0;
    padding: 0;
}
div.clientInfoRepeat{
    width: 100%;
    @include flexbox(row wrap);
    // display: flex;
    // // flex-direction: row;
    // // flex-wrap: wrap;
    justify-content: space-between;
}
div.clientInfo {
    position: relative;
    padding: 1.5rem 2.5rem;
    color: $color-light;
    margin-right: 2rem;
    margin-bottom: 2rem;
    min-height: 32rem;
    background-color: #728086;
    flex-grow: 1;
    margin: 1rem;
    @include prefix((box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25)));
    table tr {
        td {
            margin: 1rem 0;
        }
        > td:first-child {
            text-align: right;
            padding-right: 2rem;
        }
    }
    h3 {
        margin-top: 0;
    }
    .btn {
        font-size: 1.2rem;
        padding: 0.3rem 1.2rem;
        float: right;
    }
    form{
        display: block;
    }
    input {
        color: $color-main;
        margin-right: 0.5rem;
        width: 100%;
        display: block;
        margin-bottom: 1rem;
    }
    p {
        margin: 0 0 2rem;
        display: block;
        text-align: center;
        width: 100%;
    }
    p:last-child{//contains Delete button
        position: absolute;
        bottom: 1.5rem;
        margin: 0px -2.5rem;
    }
    .btn-danger {
        float: none;
        font-size: 1.5rem;
    }
}

div.clientInstructions p{
    margin: 1rem;
    padding: 2rem;
    border: 2px solid #727272;
    border-radius: 5px;
}
/*questionnaire PAGE*/
div#questionnaire{
    .SAtext,
    .QAtext {
        margin-left: 4rem;
        font-size: 1.5rem;
    }
    form {
        display: inline-block;
    }
    .SAtext {
        label {
            margin-left: 8rem;
            span {
                width: auto;
                margin-left: 0.5rem;
            }
        }
        span {
            display: inline-block;
            width: 7rem;
        }
    }
    .QAcheckboxes {
        margin-bottom: 3.5rem;
    }
    .QACheckboxGroup {
        display: inline-block;
        text-align: center;
        font-size: 1.2rem;
        /*width: 9rem;*/
        margin-right: 4rem;
        label span {
            display: block;
        }
    }
    .QAoptions {
        /*display:none;*/
        margin: 3rem 0;
    }
    .QAoptions p {
        font-size: 1.2rem;
        margin: 0;
    }
    .QAoptions textarea {
        width: 50%;
    }
}
/*RESULTS PAGE*/
.sa_score {
    margin-bottom: 3rem;
}
.qa_scores {
    table.clientStyle {
        tr > td:first-child {
            text-align: left;
            max-width: 50rem;
        }
        thead {
            font-size: 2.5rem;
        }
    }
}
#exportResults {
    display: block;
    float: right;
}
/*Colour and Shadows*/
#sideLeft {}
canvas {
    width: 40vw;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    right: 50%;
    display: block;
}
#legendDiv {
    ul {
        list-style: none;
        li {
        display: block;
        padding-left: 30px;
        position: relative;
        margin-bottom: 4px;
        border-radius: 5px;
        padding: 2px 8px 2px 28px;
        font-size: 14px;
        cursor: default;
        @include prefix((transition: background-color 200ms ease-in-out));

            span {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 100%;
                border-radius: 5px;
            }
        }
    }
}
// Forms:  Add_user, add_client,edit_questions
div.listSelect select {
    @include prefix((appearance: none));
    border: 0;
    // color: $color-light;
    background-color: #E5E5F2;;
    @include helvetN-Light(1.8rem);
    width: 100%;
    padding:1rem 0.3rem 1.2rem 0.3rem;
    & option:hover {
        text-decoration: underline;
        color: #3e5175;
    }
    & option:first-of-type{
        font-weight: 100;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

form.simple-form {
    width: 80%;
}
form.simple-form.questions-Form {
    width: 100%;
}

div.form-group.headings {
    padding-bottom: 0;
    h3 {
        margin: 0;
        padding: 0;
    }
}
div.form-group {
    display: block;
    margin: 0;
    padding: 1rem;
    padding-left: 0;

    &.addQuestion {
        background-color: rgb(173, 232, 104);
        padding-left: 1rem;
    }


    div {
        display: inline-block;
        margin: 0.3rem 1.4rem 0.3rem 0;
        vertical-align: middle;

        &:first-child {
            width: 85%;
        }
        &:last-child {
            margin: 0;
            width: 7.3rem;
            text-align: center;
            cursor: pointer;
        }
    }


    form.userform &:first-of-type{
        padding-top: 0;

    }
    form.userform &:last-child {
        margin: 0;
        width: 100%;
        text-align:left;
        > *{
            display: inline-block;
            margin-right: 1.2rem;
        }
        button{
            float:right;
            margin-right: 0;
        }
    }

    label span{
        padding: 0.6rem;
    }

    &.radioButtons {
        label {
            display: inline-block;
            margin: 0 1rem 0 0;
            span {
                padding: 0.6rem;
            }
        }
    }
}
#loadingdiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: grey;
    opacity: 0.8;
}
