.red {
    background-color: lightsalmon;
}

.blue {
    background-color: lightblue;
}

/* Apply borders to all elements inside a .borders div parent - just for demo */
.borders, .borders * {
    border: 1px solid black;
}
.header, .footer {
    text-align: center;
    background-color: lightgray;
}

.Business {
    background-color: lightgreen;
}

.Provider {
    background-color: pink;
}

.Adhoc {
    background-color: yellow;
}

.Market {
    background-color: peachpuff;
}

.Consumer {
    background-color: powderblue;
}


/*
    * 3-panel system = table layout
    */
.outerTable {
    width: 100%;
    display: table;
}
.left {
    display: table-cell;
    width: 200px;
}
.middle {
    display: table-cell;
}
.right {
    display: table-cell;
    width: 200px;
}

p.Provider {
background-color: lightgray;
}

/*
  canvas styling
*/
canvas {
  width: 40vw;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  right: 50%;
  display: block;
}
