body,
html {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  margin: 0 auto;
  color: #575757;
  font-size: 10px; }

body {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'Roboto', "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-size: 1.5rem;
  letter-spacing: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; }

a {
  text-decoration: none;
  color: #00aed1; }
  a:hover {
    text-decoration: underline; }

h1 {
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'Roboto', "Arial", sans-serif;
  font-weight: 100;
  font-stretch: normal;
  font-size: 3rem;
  letter-spacing: 0.4rem; }

h2 {
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'Roboto', "Arial", sans-serif;
  font-weight: 100;
  font-stretch: normal;
  font-size: 2.4rem;
  letter-spacing: 0.4rem;
  margin-top: 0; }

h3 {
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'Roboto', "Arial", sans-serif;
  font-weight: 100;
  font-stretch: normal;
  font-size: 2rem;
  letter-spacing: normal;
  margin-bottom: 2rem; }

label {
  margin: 0;
  font-weight: 300; }

/*layout*/
.headerHeight {
  width: 100%;
  height: 7.5rem; }

#sidebar-wrapper {
  background-color: #3b4b54;
  color: #fff;
  padding-top: 2rem;
  -webkit-box-shadow: 4px 0 10px rgba(79, 89, 92, 0.38);
  -moz-box-shadow: 4px 0 10px rgba(79, 89, 92, 0.38);
  -ms-box-shadow: 4px 0 10px rgba(79, 89, 92, 0.38);
  -o-box-shadow: 4px 0 10px rgba(79, 89, 92, 0.38);
  box-shadow: 4px 0 10px rgba(79, 89, 92, 0.38); }
  #sidebar-wrapper div {
    text-align: right;
    font-size: 2.2rem; }
  #sidebar-wrapper > div {
    padding-right: 1.5rem; }
  #sidebar-wrapper div.headerHeight a {
    color: #fff; }
  #sidebar-wrapper h2 {
    margin-bottom: 1rem; }
  #sidebar-wrapper ul {
    position: inherit;
    width: inherit; }
  #sidebar-wrapper li {
    font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'Roboto', "Arial", sans-serif;
    font-weight: 100;
    font-stretch: normal;
    font-size: inherit;
    letter-spacing: 0.4rem;
    cursor: pointer;
    line-height: normal; }
    #sidebar-wrapper li a {
      padding: 0.2rem 0; }
    #sidebar-wrapper li ul.nav {
      margin-top: 1rem;
      margin-bottom: 2rem; }
      #sidebar-wrapper li ul.nav a {
        font-size: 1.7rem;
        line-height: 2rem; }

#page-content-wrapper div.headerHeight h2 {
  display: inline-block;
  float: left;
  margin: 0.8rem 1rem 0 0; }
#page-content-wrapper div.headerHeight img {
  display: inline-block; }
#page-content-wrapper div.headerHeight div {
  float: right; }
#page-content-wrapper h1 {
  margin-bottom: 1rem; }
#page-content-wrapper h2 {
  margin-bottom: 3rem; }

div.formsNav {
  font-size: 1.2rem; }
  div.formsNav > * {
    display: inline-block; }
  div.formsNav button {
    background-color: transparent;
    border: 0; }
    div.formsNav button svg {
      height: 18px; }
      div.formsNav button svg #arrow-left,
      div.formsNav button svg #arrow-right {
        fill: #065f98; }
  div.formsNav button:hover svg #arrow-left,
  div.formsNav button:hover svg #arrow-right {
    fill: #1f9af2; }
  div.formsNav div {
    margin: 0 0.3rem;
    display: inline-block; }
  div.formsNav a {
    cursor: pointer; }
  div.formsNav select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'Roboto', "Arial", sans-serif;
    font-weight: 100;
    font-stretch: normal;
    font-size: 2.4rem;
    letter-spacing: 0.4rem;
    border: 0; }
    div.formsNav select:hover {
      text-decoration: underline;
      color: #3e5175; }

table.clientStyle {
  font-size: 1.5rem;
  width: inherit;
  border: 0; }
  table.clientStyle tbody > tr > td,
  table.clientStyle thead > tr > td {
    padding: 1rem;
    min-width: 4rem;
    border: 0; }
  table.clientStyle tr > td:first-child {
    border-right: 2px solid #67476b;
    text-align: right; }
  table.clientStyle thead {
    font-size: 2.8rem;
    color: #3a697e;
    cursor: pointer; }
    table.clientStyle thead th {
      font-size: 1.8rem;
      cursor: default;
      font-weight: 400; }
  table.clientStyle .number {
    text-align: right; }

uib-accordion.clients {
  font-size: 1.5rem; }
  uib-accordion.clients h4 {
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'Roboto', "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    font-stretch: normal;
    font-size: 2.8rem;
    letter-spacing: normal;
    color: #3a697e;
    cursor: pointer; }
  uib-accordion.clients div.formTable {
    float: left; }
    uib-accordion.clients div.formTable div > span {
      display: inline-block;
      padding: 1rem; }
    uib-accordion.clients div.formTable div:last-child,
    uib-accordion.clients div.formTable div:last-child span {
      height: 8rem;
      margin: 0;
      padding: 0; }
  uib-accordion.clients div.formTable div > span:first-child,
  uib-accordion.clients div.panel-heading {
    width: 22rem;
    border-right: 2px solid #67476b;
    text-align: right; }

#clientLinks thead,
#clientLinks tbody {
  display: block; }

#clientLinks tr > td:first-child {
  width: 250px; }

div#clientInfoColumn {
  width: 100%;
  clear: both; }

div.clientInfo {
  padding: 1.5rem 2.5rem;
  background-color: #bbb;
  color: #fff;
  margin-right: 2rem;
  min-height: 32rem;
  background-color: #728086;
  float: left;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25); }
  div.clientInfo table tr td {
    margin: 1rem 0; }
  div.clientInfo table tr > td:first-child {
    text-align: right;
    padding-right: 2rem; }
  div.clientInfo h3 {
    margin-top: 0; }
  div.clientInfo .btn {
    font-size: 1.2rem;
    padding: 0.3rem 1.2rem;
    float: right; }
  div.clientInfo input {
    color: #575757;
    margin-right: 0.5rem;
    width: 100%;
    display: block;
    margin-bottom: 1rem; }
  div.clientInfo p {
    display: block;
    text-align: center; }
  div.clientInfo .btn-danger {
    float: none;
    font-size: 1.5rem; }

/*SURVEY PAGE*/
#sideLeftlinks a {
  display: block;
  color: #fff;
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'Roboto', "Arial", sans-serif;
  font-weight: 100;
  font-stretch: normal;
  font-size: 1.2rem;
  letter-spacing: normal;
  margin-bottom: 1rem; }

.SAtext,
.QAtext {
  margin-left: 4rem;
  font-size: 1.5rem; }

form {
  display: inline-block; }

.SAtext label {
  margin-left: 8rem; }
  .SAtext label span {
    width: auto;
    margin-left: 0.5rem; }
.SAtext span {
  display: inline-block;
  width: 7rem; }

.QAcheckboxes {
  margin-bottom: 3.5rem; }

.QACheckboxGroup {
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  /*width: 9rem;*/
  margin-right: 4rem; }
  .QACheckboxGroup label span {
    display: block; }

.QAoptions {
  /*display:none;*/
  margin: 3rem 0; }

.QAoptions p {
  font-size: 1.2rem;
  margin: 0; }

.QAoptions textarea {
  width: 50%; }

/*RESULTS PAGE*/
.sa_score {
  margin-bottom: 3rem; }

.qa_scores table.clientStyle tr > td:first-child {
  text-align: left;
  max-width: 50rem; }
.qa_scores table.clientStyle thead {
  font-size: 2.5rem; }

#exportResults {
  display: block;
  float: right; }

/*Colour and Shadows*/
canvas {
  width: 40vw;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  right: 50%;
  display: block; }

#legendDiv ul {
  list-style: none; }
  #legendDiv ul li {
    display: block;
    padding-left: 30px;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 8px 2px 28px;
    font-size: 14px;
    cursor: default;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out; }
    #legendDiv ul li span {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 100%;
      border-radius: 5px; }

form.simple-form {
  width: 80%; }

form.simple-form.questions-Form {
  width: 100%; }

div.form-group.addQuestion {
  background-color: #ade868; }

div.form-group.headings {
  padding-bottom: 0; }
  div.form-group.headings h3 {
    margin: 0;
    padding: 0; }

div.form-group {
  display: block;
  margin: 0;
  padding: 1rem; }
  div.form-group div {
    display: inline-block;
    min-width: 10.5rem;
    margin: 0.3rem 1.4rem 0.3rem 0;
    vertical-align: middle; }
  div.form-group:first-child {
    width: 70%; }
  div.form-group:last-child {
    margin: 0;
    width: 4.5rem;
    text-align: center; }
  div.form-group.radioButtons label {
    display: inline-block;
    margin: 0 1rem 0 0; }
    div.form-group.radioButtons label span {
      padding: 0.6rem; }

#loadingdiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: grey;
  opacity: 0.8; }

/*# sourceMappingURL=styles.css.map */
