<div class="col-lg-12">
    <h1> API Maturity Tool </h1>



<h3>When to Use</h3> Client wants to assess existing or new API Strategy and whether it is ready to pursue an APIs as a provider, consumer, business, or market.

<h3>How to Use</h3>

<p>1. Each tab there is a series of questions that help determine where a customer is on the maturity curve for that enterprise dimension. First you will give the customers a series of API Characteric questions along with some deeper interview questions
    to help them think about their current API dynamics and the customer responses should be documented. You will rate the customers response on a scale of 0 to 5 gaining consensus on the score of course. This score is primarily from the customers perspective
    advised by you the assessor but it is used as a quantitative measurement.
    <ul>
        <li>0 Don't do it</li>
        <li>1 Planned</li>
        <li>2 In progress</li>
        <li>3 Partially Implemented</li>
        <li>4 Complete (Mature)</li>
    </ul>
</p>
<p>
    2. Then you will give the customer a self assessment API Maturity for the enterprise dimension under discussion. This is the customers view only without any commentary or guideance other then to explain what it means to be mature in that API characteristic
    for that enterprise demension. The customer will rate themselves on a scale of 0 to 3 and it is their self-assessed rating.

    <ul>
        <li>0 Novice</li>
        <li>1 Progressing</li>
        <li>2 Mature</li>
        <li>3 Partially Implemented</li>
        <li>4 Complete (Mature)</li>
    </ul>

</p>

<div>

    <h3> Legend (Click to Enlarge) </h3>
    <a href="images/API.png" target="_blank">
        <img width="400" height="250" border="0" align="center" src="images/API.png" />
    </a>
</div>
</div>
