<h1>
  API Maturity Tool
</h1>


<h2> Practictioner Instructions </h2>

<h2> Getting Started </h2>
<p> To get started with the tool please create a client through the administrative drop down on the left hand side of the screen. Once you've 
    created a client you will be able to create new assessments for the client's API Maturity or Bluemix Affinity.
    You can add other members of your team to the project by entering their email on the clients page provided they have an IBM email.
    If you'd like to add a non-IBM user to the application you need to contact an administrator or user with admin priviledges. </p>

<p> For help with the application, to add a non-IBM user to the application or to report bugs or suggest features now you email either
Greg Hatt (hatt@ca.ibm.com) or Rose Panikulam (rose@ca.ibm.com). </p>
