<div class="col-lg-12">
    <form novalidate name="userform" id="userform" class="userform">
        <div class="form-group" ng-class="{ 'has-error' : userform.name.$invalid && !userform.name.$pristine }">
            <label>Username:</label> <br>
            <input class="form-control"  type="text" name="username" ng-model="editing.username" url="/checkUniqueUser/" unique-username="" required />
            <span class="hide-while-in-focus" ng-show="!userform.username.$error.required && userform.username.$error.unique && !userform.name.$pristine">Username Taken!</span>
            <p ng-show="userform.username.$error.required && !userform.username.$pristine" class="help-block">Username is required.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine }">
            <!-- First Name -->
            <label>First Name:</label>
            <input class="form-control" name="firstname" type="text" ng-model="editing.firstname"
            required />
            <p ng-show="userform.firstname.$error.required && !userform.firstname.$pristine"
            class="help-block">First name is required.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : userform.lastname.$invalid && !userform.lastname.$pristine }">
            <!-- Last Name -->
            <label>Last Name:</label>
            <input class="form-control" name="lastname" type="text" ng-model="editing.lastname"
            required />
            <p ng-show="userform.lastname.$error.required && !userform.lastname.$pristine"
            class="help-block">Last name is required.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : userform.email.$invalid && !userform.email.$pristine }">
            <!-- Last Name -->
            <label>Email</label>
            <input class="form-control" type="email" ng-model="editing.email" name="email"
            required />
            <p ng-show="userform.email.$invalid && !userform.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>



        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }"
        ng-hide=editing.id>
            <!-- Password -->
            <label>Password:</label>
            <input class="form-control" type="password" name="password" ng-pattern="handlePatternPassword"
            ng-model="editing.password" ng-hide=editing.id >
            <p ng-show="userform.password.$error.pattern" class="help-block">Password must be 6 to 20 characters string with at least one digit,
                one upper case letter, one lower case letter and one special symbol
                (“!@#$%”).
            </p>
        </div>

        <!-- Role -->
        <div class="form-group">
            Role:
            <select ng-model="editing.role_id" ng-options="role.id as (role.role | uppercase) for role in roles"></select>
        </div>

        <!-- Userlist -->
        <select ng-model="aUser" ng-options="aUser.username for aUser in allUsers " ng-change="onChange()">
            <option value="">New User</option>
        </select>

        <button data-ng-disabled="!userform.$valid" data-ng-click="submit()" class="btn btn-default">Submit</button>

    </form>

</div>
