  <form novalidate class="simple-form">
    Name: <input type="text" ng-model="newUser.username" /><br />
    Password: <input type="password" ng-model="newUser.password"> <br />
    <label data-ng-repeat="role in ['admin', 'user']">
    <input
        name="currentActivity"
        type="radio"
        value="{{role}}"
        ng-model="newUser.role" 
        ng-checked="role == 'user'"/>
        {{role}}
        <br /> </label> <br /> 

    <input type="submit" ng-click="saveUser(newUser)"/>
  </form>
