<form novalidate name="userform" id="userform" class="userform" ng-submit="submit()">
    <div class="row">
        <div class="col-lg-12">
            <h1>Edit Users</h1>
            <h2>Create new user or choose an existing user to change</h2>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-3 listSelect">
            <select size={{usersFiltered.length+1}} ng-model="aUser" ng-options="aUser.username for aUser in usersFiltered = (allUsers | filter: {email: '!' + loggedInEmail})" ng-change="onChange()">
                <option value="">New User</option>
            </select>
        </div>
        <div class="col-lg-9">
            <div class="form-group" ng-class="{ 'has-error' : userform.name.$invalid && !userform.name.$pristine }">
                <label>Username:</label>
                <input class="form-control" type="text" name="username" ng-model="editing.username" ng-attr-unique-username="!editing.id" unique-value="" required ng-init="" />
                <p ng-show="userform.username.$error.required && !userform.username.$pristine" class="help-block">Username is required.</p>

                <p ng-show="!uniqueUsername() && !userform.username.$pristine" class="help-block">Username taken.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine }">
                <!-- First Name -->
                <label>First Name:</label>
                <input class="form-control" name="firstname" type="text" ng-model="editing.firstname" required />
                <p ng-show="userform.firstname.$error.required && !userform.firstname.$pristine" class="help-block">First name is required.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : userform.lastname.$invalid && !userform.lastname.$pristine }">
                <!-- Last Name -->
                <label>Last Name:</label>
                <input class="form-control" name="lastname" type="text" ng-model="editing.lastname" required />
                <p ng-show="userform.lastname.$error.required && !userform.lastname.$pristine" class="help-block">Last name is required.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : userform.email.$invalid && !userform.email.$pristine }">
                <!-- Last Name -->
                <label>Email</label>
                <input class="form-control" type="email" ng-model="editing.email" name="email" url="/checkUniqueUserEmail/" ng-attr-unique-value="aUser.email == editing.email" placeholder="email@inbox.com" required />
                <p ng-show="userform.email.$invalid && !userform.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error': userform.password.$dirty && userform.password.$error.required }" ng-if="!editing.id">
                <label for="passwordConfirm">Password</label>
                <input "editing.id" type="password" name="password" id="password" class="form-control" ng-pattern="handlePatternPassword" ng-model="editing.password" required />
                <span ng-show="userform.password.$error.pattern" class="help-block">
                <ul>
                    <li> At least one uppercase letter. </li>
                    <li> At least one lowercase letter. </li>
                    <li> At least one digit. </li>
                    <li> At least one special character. </li>
                    <li> At least 8 characters long. </li>
                </ul>
            </span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': userform.password.$dirty && userform.password.$error.required }" ng-if="!editing.id">
                <label for="passwordConfirm">Confirm Password</label>
                <input type="password" ng-init="" name="passwordConfirm" id="passwordConfirm" class="form-control" ng-model="passwordConfirm" pwd-match="editing.password" required />
                <span ng-show="userform.passwordConfirm.$error.matched" class="help-block">Passwords do not much</span>
            </div>

            <div class="form-group">
                Role:
                <select ng-model="editing.role_id" ng-options="role.id as (role.role | uppercase) for role in roles"></select>
                <input type="checkbox" ng-model="editing.active" ng-true-value="1" ng-false-value="0">Active</input>
            </div>


            <button data-ng-disabled="!userform.$valid || !uniqueUsername()" class="btn btn-default" type>Submit</button>
        </div>
    </div>
</form>
