<h2> Please enter a new password which is at least eight characters long. <em> (This specification will change) </em> </h2>

<div class="col-lg-12">
    <form novalidate name="passwordform" id="passwordform" class="passwordform">
        <div class="form-group">
            <label for="pw1">New Password</label>
            <input class="form-control" type="password" id="pw1" name="pw1" ng-model="pw1"
            ng-required ng-pattern="handlePatternPassword">
            <span ng-show="passwordform.pw1.$error.pattern" class="help-block">
                <ul> <!-- Password Requirement Instructions -->
                    <li> At least one uppercase letter.</li>
                    <li> At least one lowercase letter.</li>
                    <li> At least one digit.</li>
                    <li> At least one special character. </li>
                    <li> At least 8 characters long. </li>
                </ul>
        </span>
        </div>
        <div class="form-group">
            <label for="pw2">Confirm Password</label>
            <input class="form-control" type="password" id="pw2" name="pw2" ng-model="pw2"
            ng-required pw-check="pw1" />
            <span ng-show="!passwordform.$valid" class="help-block">Passwords must match </span>
        </div>
        <button data-ng-disabled="(pw1 != pw2) || !passwordform.$valid" data-ng-click="submit()"
        class="btn btn-default">Submit</button>
    </form>
</div>
