<h2> Please enter your email address and a reset email will be sent to your registered account. </h2>
<h3> Please check your spam folders and a reset email could take up to 10m to be delivered. <h3>

<div class="col-lg-12">
    <form novalidate name="emailform" id="emailform" class="emailform">
        <div class="form-group">
            <label for="email"> Email </label>
            <input class="form-control" type="text" id="email" name="email" ng-model="email" ng-required/ ng-minlength="8">
        </div>

        <button data-ng-disabled="!emailform.$valid" data-ng-click="submit()" class="btn btn-default">Submit</button>
    </form>
	
	{{emailMessage}}
</div>